.App {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.App > .container {
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 80vh;
  background-image: linear-gradient(
    to bottom,
    #ffb591,
    #fbbd9b,
    #f7c5a6,
    #f4ccb2,
    #f0d3be,
    #f3d8ca,
    #f4ddd6,
    #f3e3e0,
    #f6e9eb,
    #f7f0f4,
    #faf7fa,
    #fefefe
  );
}
