.App {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #ffb591,
    #fbbd9b,
    #f7c5a6,
    #f4ccb2,
    #f0d3be,
    #f3d8ca,
    #f4ddd6,
    #f3e3e0,
    #f6e9eb,
    #f7f0f4,
    #faf7fa,
    #fefefe
  );
}
.App-header > h1 {
  font-size: 60px;
  color: #282c34;
  font-family: arial, sans-serif;
  padding-top: 50px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
