body {
  font-family: arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  text-transform: capitalize;
}
h2 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  line-height: 40px;
}

li {
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 40px;
  list-style: none;
  text-align: left;
}

.weather-app {
  /* padding: 10px; */
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  height: 60vh;
}

.description {
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.date{
    color: #7c7c7c;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  text-align: left;
  
  text-transform: capitalize;
}
.icon-temp{
    height: fit-content;
    
}
.weatherTempreture{
    width: auto;
    
}
.weather-icon {
  width: 88px;
  margin-right: 5px;
  align-items: center;
}
.weather-icon > img {
  align-items: center;
  margin: 0;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  /* line-height: 1; */
  margin-right: 0;
  padding-right: 0;
}

.units {
  position: relative;
  top: -30px;
  font-size: 20px;
  padding-left: 0;
}
.humidity{
    text-align: right;
}
.humidity > li{
    line-height: 40px;
    margin-bottom: 10px;
}
.search-form {
  margin-bottom: 20px;
}
.search-form > input {
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid gray;
}
#weatherName {
  text-transform: capitalize;
}

#city {
  font-size: 28px;
  line-height: 50px;
}
.link {
  border: none;
}
a {
  text-decoration: none;
}
.units .active {
  cursor: default;
  color: rgb(33, 33, 33);
}
#weather-img {
  margin-right: 10px;
  margin-left: 0;
  padding-right: 10px;
  align-items: center;
}
#weather-tempreture {
  margin-right: 0;
  padding-right: 0;
  width: fit-content;
}
.forecast {
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: rgba(134, 137, 136, 0.228);
  border-radius: 10px;
  padding: 5px;
}
.forecast:hover{
  background-color: rgba(134, 137, 136, 0.614);
}
#forecast > .col-2 {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}
#forecast > .col-2:hover {
  background-color: #7c7c7c1a;
}
#forecast > .col-2 > .day {
  opacity: 0.6;
  font-size: 16px;
}
#forecast > .col-2 > img {
  width: 48px;
}
.min-max-temp {
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.min {
  opacity: 0.6;
}
.forecastIcon{
  width: 80px;
  height: 80px;
  
}
/* #endNote {
  background-image: none;
} */
/* #endNote > a {
  color: #ec6e4c;
} */
/* #endNote > a:hover {
  color: #8d8b8b;
} */
